<form>
  <input type="hidden" id="action" name="action" value="save" />
  <input type="hidden" id="type" name="type" value="page" />
  <input type="hidden" id="page" name="page" value="{{page}}" />
  <label for="name">Name</label>
  <input type="text" name="name" id="name" value="{{name}}" />
  <label for="name">Tagline</label>
  <input type="text" name="tagline" id="tagline" placeholder="A short and pithy description of your club" value="{{tagline}}" />  
  <label for="name">Code</label>
  <input type="text" name="code" id="code" placeholder="Share this with club members" value="{{code}}" />  
  <label for="name">Name for events</label>
  <input type="text" name="sectionCaption" id="sectionCaption" placeholder="event, meeting, gathering etc.." value="{{sectionCaption}}" />  
  <label for="name">Topic of the club</label>
  <input type="text" name="thingCaption" id="thingCaption" placeholder="book, movie, wine, piece of music etc.." value="{{thingCaption}}" />  
  <label for="members">Members</label>
  <textarea id="members" name="members">{{members}}</textarea>
  <label for="locations">Locations</label>
  <textarea id="locations" name="locations">{{locations}}</textarea>  
</form>
<div class="dialogbuttons">
  {{buttons}}
</div>