<form>
  <input type="hidden" id="action" name="action" value="save" />
  <input type="hidden" id="page" name="page" value="{{page}}" />
  <label for="name">Name</label>
  <input type="text" name="name" id="name" value="{{name}}" />
  <label for="members">Members</label>
  <textarea id="members" name="members">{{members}}</textarea>
  <label for="locations">Locations</label>
  <textarea id="locations" name="locations">{{locations}}</textarea>  
</form>
<div class="dialogbuttons">
  {{buttons}}
</div>