:root {
  --font-color: rgba(200, 192, 229, .85);
  --font-color-bold: rgba(200, 192, 229, 1);
  --bg-color: #1a1621;
}

html,
body {
  display: flex;
  height: 100%;
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: Tahoma, Verdana, Geneva, sans-serif;
  margin: 0;
  flex-direction: column;
  justify-content: space-between;
}

a {
  color: rgba(255, 255, 255, .75);
  text-decoration: none;
  border-radius: .5rem;
}

a:hover {
  color: white;
  text-decoration: underline;
}

.name {
  font-weight: bold;
  font-size: 110%;
}

.sections {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: .5rem;
}

.section {
  background-color: rgba(0, 0, 0, .25);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.row {
  display: flex;
  flex-direction: row;
}

.row-gap {
  gap: .5rem;
}

.datebox {
  background-color: rgba(255, 255, 255, .15);
  padding: .5rem;
  border-top-left-radius: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.month {
  font-size: 200%;
  color: var(--font-color-bold);
}

.monthday {
  font-size: 100%;
  white-space: nowrap;
}

.host {
  font-weight: bold;
  color: var(--font-color-bold);

}

.bookbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.book {
  padding-right: 2rem;
  padding-left: .5rem;
}

.title {
  font-size: 130%;
  font-weight: bold;
  color: var(--font-color-bold);
  padding-top: .35rem;
  padding-bottom: .1rem;
}

.by {
  color: var(--font-color-bold);
}

.externallink {
  padding-left: .5rem;
  color: rgba(255, 255, 255, 0.3);
}

.edit {
  position: absolute;
  top: .5rem;
  right: .5rem;
  cursor: pointer;
}

.location {
  background-color: rgba(0, 0, 0, .3);
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding: .3rem .5rem;
}

.fas {
  text-shadow: .0 0 .5rem black;
}

.fas:hover {
  color: white;
}


.dialog {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;

  background-color: rgb(53 51 64);
  border-radius: 1rem;
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, .5);
  padding: 1rem;
  margin: 1rem;
  z-index: 3;
  max-width: 500px;
}

.dialog.visible {
  display: block;
}

.dialog-close {
  position: absolute;
  top: .5rem;
  right: .75rem;
  cursor: pointer;
  font-size: 120%;
}

form {
  display: flex;
  flex-direction: column;
}

.overlay {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, .5);
  z-index: 2;
  padding-top: 10vh;
  padding-left: 45vh;
}

.overlay.visible {
  display: flex;
}

.spinner {
  width: 3rem;
  height: 3rem;
  border: .5rem solid rgba(255, 255, 255, 0.2);
  border-top-color: white;
  border-radius: 50%;
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.dialogbuttons {
  display: flex;
  justify-content: flex-end;
  gap: .5rem;
  margin-top: 1rem;
}

.button {
  background-color: rgb(54, 64, 85);
  color: white;
  padding: .25rem .75rem;
  border-radius: .25rem;
  border-top: 3px solid rgb(255, 255, 255, .25);
  border-right: 3px solid rgb(0, 0, 0, .45);
  border-bottom: 3px solid rgb(0, 0, 0, .45);
  border-left: 3px solid rgb(255, 255, 255, .25);
  font-size: 110%;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(119, 142, 189);
}

.pagebuttons {
  display: flex;
  gap: .5rem;
  padding: 1rem;
}

.thing {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

header {
  margin: 0 .5rem;
}

h1 {
  margin: .5rem 0;
}

label {
  padding: .5rem 0 .1rem 0;
}

input,
select {
  font-size: 100%;
}

textarea {
  font-size: 85%;
  height: 7rem;
  font-family: inherit;
}

li {
  padding: .5rem 0;
}

footer {
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
  padding: .5rem 1rem;
  background-color: rgba(0, 0, 0, .7);
  color: rgba(255, 255, 255, .3);
  justify-content: flex-end;
  align-items: center;
  gap: .5rem;
}

footer>a {
  color: rgba(255, 255, 255, .3);

}