:root {
    --font-color: rgba(200, 192, 229, 0.5);
    --font-color-bold: rgba(200, 192, 229, 1);
    --bg-color: #1a1621;
}

html,
body {
    background-color:  var(--bg-color);
    color: var(--font-color);
    font-family: Tahoma, Verdana, Geneva, sans-serif;
}

a {
    color: rgba(255, 255, 255, .75);
    text-decoration: none;
    border-radius: 0.5rem;
}

a:hover {
    color: white;
    text-decoration: underline;

}

.sections {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;    
}

.section {
    background-color: rgba(0,0,0,0.25);
    border-radius: 1rem;
    display: flex;
    gap: 0.5rem;
    position: relative;
}

.datebox {
    background-color: rgba(255,255,255,0.15);
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}

.month {
    font-size: 200%;
    color: var(--font-color-bold);
}

.monthday {
    font-size: 100%;
}

.host {
    font-size:130%;
    color: var(--font-color-bold);
}

.bookbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.book {
    padding-right: 2rem;
}

.title {
    font-size: 130%;
    font-weight: bold;
    color: var(--font-color-bold);
    padding-top: 0.35rem;
}

.by {
    color: var(--font-color-bold);

}

.edit {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
}

.fas {
    text-shadow: .0 0 .5rem black;
}

.fas:hover {
  color: white;
}


.dialog {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;

    background-color: rgb(53 51 64);
    border-radius: 1rem;
    box-shadow: 1rem 1rem 2rem rgba(0,0,0,0.5);
    padding: 1rem;
    margin: 1rem;
    z-index: 2;
    max-width: 500px;
}

.dialog.visible {
    display: block;
}

.dialog-close {
    position: absolute;
    top: 0.5rem;
    right: 0.75rem;
    cursor: pointer;
    font-size: 120%;
}

form {
  display: flex;
  flex-direction: column;
}
.overlay {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    z-index: 2;
}

.overlay.visible { 
  display: block; 
}

.dialogbuttons {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-top: 1rem;
}

.button {
    background-color: rgb(54, 64, 85);
    color: white;
    padding: 0.25rem 0.75rem;
    border-radius: 0.25rem;
    border-top: 3px solid rgb(255, 255, 255, .25);
    border-right: 3px solid rgb(0, 0, 0, .45);
    border-bottom: 3px solid rgb(0, 0, 0, .45);
    border-left: 3px solid rgb(255, 255, 255, .25);
    font-size: 110%;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(119, 142, 189);
}

.thing {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

input, select textarea {
  font-size: 110%;
}

textarea {
  height: 7rem;
}